<web-app>
    <servlet>
        <servlet-name>projetServlet</servlet-name>
        <servlet-class>servlet.ProjetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>projetServlet</servlet-name>
        <url-pattern>/projets</url-pattern>
    </servlet-mapping>
</web-app>
